@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-cormorant: 'Cormorant', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
  background-color: #FAF7F2;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
